@model IEnumerable<MyInsurance.Domain.Models.Oficina>

@{
    ViewData["Title"] = "Pesquisar Oficinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buscar Oficinas</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pesquisar">
            <div class="form-group">
                <label class="control-label">Código da Associação:</label>
                <input type="number" name="codigoAssociacao" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Cpf do Associado:</label>
                <input type="text" name="cpfAssociado" id="cpfAssociado" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoCurta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Detalhes",
                            new {ID = item.Id, 
                                 CodigoAssociacao = item.CodigoAssociacao
                            })
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
